.container-fluid {
    background-color: #D7EDF5;
}

li {
    list-style-type: none;
}

@media (max-width: 767px) {
    .bg-warning:nth-of-type(3) {
        height: 1px;
    }

    .bg-warning p {
        margin-bottom: 1px;
    }

    .bg-danger p {
        width: 25%;
    }
}